<% if mission.errors.any? %>
    <ul>
      <% mission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

<%= simple_form_for(mission) do |b| %>

  

  <div class="field">
  <%= b.label :titls, t('title') %>
  <%= b.text_field :title %> <br />
  </div>

  <div class="field">
  <%= b.label :description, t('description') %>
  <%= b.text_field :description %> <br />
  </div>

  <div class="field">
  <%= b.label :status, t('status') %>
  <%= b.select :status, options_for_select([
    [t("enums.status.pending"), "pending"],
    [t("enums.status.progress"), "progress"],
    [t("enums.status.done"), "done"]
  ]) %>
  </div>
  <%= b.input :start_time, label: t("start_time") %>
  <%= b.input :end_time, label: t("end_time") %>
  


  <%= b.submit t('update')%>
<% end %>