<% if mission.errors.any? %>
  <ul>
    <% mission.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="">
<%= simple_form_for(mission) do |b| %>

  <div class="field">
    <%= b.input :title, label: t("title"), input_html: {class: "form-control w-25"} %>
  </div>

  <div class="field">
    <%= b.input :description, label: t("description"), input_html: {class: "form-control w-25"} %>
  </div>

  <div class="d-flex align-items-center mb-3 my-2">
    <%= b.label :status, t('status'), class: "mrx-3" %>
    <%= b.select :status, options_for_select([
      [t("enums.status.pending"), "pending"],
      [t("enums.status.progress"), "progress"],
      [t("enums.status.done"), "done"]
      ]) %>
    
  </div>
  <div class="d-flex align-items-center mb-3 my-2">
    <%= b.label :priority, t('priority'), class: "mrx-3" %>
    <%= b.select :priority, options_for_select([
      [t("enums.priority.low"), "low"],
      [t("enums.priority.middle"), "middle"],
      [t("enums.priority.high"), "high"]
      ]) %>
  </div>
  <div>
    <%= b.input :tag_items, collection: mission.tag_items, label: t("tag"), input_html: {multiple: true, class: "js-tag-select form-control"} %>
  </div>
  <div class="d-flex align-items-center mb-3 my-2">
    <%= b.input :start_time, label: t("start_time") %>
  </div>
  <div class="d-flex align-items-center mb-3 my-2">
    <%= b.input :end_time, label: t("end_time") %>
  </div>
  

</div>
  <%= b.button :submit, class: "btn btn-danger my-3" %>
<% end %>