<h1 class="">任務列表</h1>

<%= link_to '新增任務', new_mission_path %>
<table class="table">
  <thead>
    <tr class="bg-warning">
      <td>任務名稱</td>
      <td>任務描述</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @missions.each do |b| %>
      <td><%= link_to b.title, mission_path(b) %></td>
      <td><%= b.description %></td>
      
      <td>
        <%= link_to '編輯', edit_mission_path(b) %>
        <%= link_to '刪除', mission_path(b), method: 'delete', data: { confirm: '確定嗎' } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>