

<h1 class=""><%= t('mission_list') %></h1>

<%= link_to t('new_mission'), new_mission_path %>
<table class="table">
  <thead>
    <tr class="bg-warning">
      <td><%= t('title') %></td>
      <td><%= t('description') %></td>
      <td><%= t('status') %></td>
      <td><%= t('start_time') %></td>
      <td><%= t('end_time') %></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @missions.each do |b| %>
      <td><%= link_to b.title, mission_path(b) %></td>
      <td><%= b.description %></td>
      <td><%= t("enums.status.#{b.status}") %></td>
      <td><%= b.start_time %></td>
      <td><%= b.end_time %></td>
      
      <td>
        <%= link_to t('edit'), edit_mission_path(b) %>
        <%= link_to t('delete'), mission_path(b), method: 'delete', data: { confirm: t('confirm') } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= Time.now %>

