

<h1 class=""><%= t('mission_list') %></h1>

<%= search_form_for @q do |f| %>
  <%= f.label t("title") %>
  <%= f.search_field :title_cont %>

  <%= f.label t("description") %>
  <%= f.search_field :description_cont %>

  <%= f.label t("status") %>
  <%= f.select :status_eq, options_for_select([[t("enums.status.pending"), "0"],
                                               [t("enums.status.progress"), "1"],
                                               [t("enums.status.done"), "2"]]), 
                                               include_blank: t("status_search") %>



  <%= f.submit %>
<% end %>

<%= link_to t('new_mission'), new_mission_path %>
<table class="table">
  <thead>
    <tr class="bg-warning">
      <td><%= t('title') %></td>
      <td><%= t('description') %></td>
      <td><%= t('status') %></td>
      <td><%= t('start_time') %></td>
      <td><%= sort_link(@q, :end_time, t('end_time'), {}, id: "sort_by_end") %></td>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @missions.each do |b| %>
      <td><%= link_to b.title, mission_path(b) %></td>
      <td><%= b.description %></td>
      <td><%= t("enums.status.#{b.status}") %></td>
      <td><%= b.start_time %></td>
      <td><%= b.end_time %></td>
      
      <td>
        <%= link_to t('edit'), edit_mission_path(b) %>
        <%= link_to t('delete'), mission_path(b), method: 'delete', data: { confirm: t('confirm') } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>



