<!DOCTYPE html>
<html>
  <head>
    <title>Bronze</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <div class="fw-bolder text-center bg-info bg-gradient"><%= notice %></div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2">
        <%= link_to "中文", {language: "zh-TW"}, class: "btn btn-secondary" %>
        <%= link_to "English", {language: "en"}, class: "btn btn-secondary" %>
    </div>
    <div class="">
      <%= yield %>
    </div>
    </div>
  </body>
</html>
