<!DOCTYPE html>
<html>
  <head>
    <title>Bronze</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= notice %>
    <div id='lag-btn'>
      <%= link_to "中文版", language: "zh-TW" %>
      <%= link_to "English", language: "en" %>
    </div>
    
    <%= yield %>
  </body>
</html>
